* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 21);
}

.sheet {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
